body {
    background-color: lightblue;
  }

  /* Title */
  h1 {
    color: rgb(106, 90, 205);   
  }

  /* Subtitle */
  h2 {
    color: brown;
  }

  /* Date */
  h4 {
    color: #FF0200;
  }

  /* Image of meeting */
  img {
    border-radius: 50%;
  }

  /* Attendance list */
  .Attendance {
    color: hsl(300, 76%, 72%);
    display: grid;
  }

  #meeting {
    color: yellow;
    background: linear-gradient(to bottom, green, blue);
    border: 1px solid #696969;
    padding: 10px;
  }

  /* Agenda */
  .Agenda {
    background-color: blueviolet;
    font-size: 1em;
    padding: 5px 5px 5px 5px;

    position: sticky;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
  }

  .Agenda h3 {
    color: color-mix(in srgb, #34c9eb 0%, yellow);
  }

  .Agenda ul {
    color: black;
    display: flex;
    list-style: none;
    border: 2px solid blue;
    padding: .5em;
  }

  /* Unfinished business from last meeting */
  .Unfinished_Business {
    color: red;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    display: grid;
    grid-template-columns: 500px 500px 500px 500px;
    grid-template-rows: auto;
}

  /* New Business */
  .New_business {
    color: lightgoldenrodyellow;
    width: 200px;
    margin: 10px 20px 30px 40px;
    position: relative;
    top: 40px;
    left: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Miscellaneous Comments/ Questions/ Conerns */
  .Concerns {
    color: purple;
    background-color: white;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;

    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: dashed;
    border-color: black;
    border-radius: 200px;

    display: inline flex;

    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: baseline;
  }

  /* Video */
  video {
    
    max-width: 150px;
    max-height: 1500px;
  }

  .yes {
    width: 20em;
    height: 15ex;
    background-color: blanchedalmond;
    border: 2px solid firebrick;
    border: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
  }

  .yes:hover {
    background-color: bisque;
  }

  .yes:active {
    box-shadow: 2px 2px 5px #fc894d;
  }